<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Your Cart{% endblock %}</title>
        <link rel="icon" href="/assets/images/logo.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

        	  <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/bootstrap/css/bootstrap.min.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/fonts/iconic/css/material-design-iconic-font.min.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/fonts/linearicons-v1.0.0/icon-font.min.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/animate/animate.css">
          <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/css-hamburgers/hamburgers.min.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/animsition/css/animsition.min.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/select2/select2.min.css">
          <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/daterangepicker/daterangepicker.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/slick/slick.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/MagnificPopup/magnific-popup.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/vendor/perfect-scrollbar/perfect-scrollbar.css">
          <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/css/util.css">
            <link rel="stylesheet" type="text/css" href="/assets/FrontOffice/css/main.css">

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
                      {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			{# <div class="wrap-menu-desktop how-shadow1"> #}
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="/" class="logo">
						<img src="/assets/images/logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
					{# {% for categorie in categories %}
						<ul class="main-menu">
							<li>
								<a href="{{path('app_front_office_categorie_products',{categorie:categorie.id})}}" style="text-decoration: none;">{{ categorie.nom }}</a>
							</li>
						
						</ul>
					{% endfor %}	 #}
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						{# <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div> #}

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>

						<a href="#" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
						<a href="{{ path('app_login') }}" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-account-circle"></i>
						</a>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img src="/assets/images/logo.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/assets/FrontOffice/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>


 <div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
		<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Votre panier :
				</h3>
		</div>

    {# cart1 #}
			{# <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for element in dataPanier %}
                    <tr>
                        <td>{{ element.produit.title }}</td>
                        <td class="text-end">{{ element.produit.price }} Dh</td>
                        <td>{{ element.quantite }}</td>
                        <td class="text-end">{{ element.quantite * element.produit.price }} Dh</td>
                        <td>
                            <a href="{{path("cart_add", {id: element.produit.id})}}" class="btn btn-success">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                            <a href="{{path("cart_remove", {id: element.produit.id})}}" class="btn btn-warning">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            <a href="{{path("cart_delete", {id: element.produit.id})}}" class="btn btn-danger">
                                <i class="bi bi-cart-x"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="{{path("app_product_detail",{id: element.produit.id})}}" class="btn btn-primary">
                            <i class="bi bi-cart-plus"> Aller vers Checkout</i>
                        </a>
                        </td>   
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Votre panier est vide</td>
                    </tr>
                    <tr>
                        <td>
                                <a href="{{path("app_front_office_products")}}" class="btn btn-primary">
                                    <i class=""> Revien vers Page des Produits</i>
                                </a>
                        </td>
                    </tr>
                    
                {% endfor %}
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td class="text-end">{{ total }} Dh</td>
                    <td>
                        <a href="{{path("cart_delete_all")}}" class="btn btn-danger">
                            <i class="bi bi-cart-x"></i>
                        </a>
                    </td>
                </tr>

            </tfoot>
        </table>
			</div> #}
  
    {# cart2 #}
<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-12 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tbody><tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
{% for element in dataPanier %}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="/uploads/{{element.produit.image}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{ element.produit.title }}</td>
									<td class="column-3">{{ element.produit.price }} Dh</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 flex-c-m">
                      <a href="{{path("cart_remove", {id: element.produit.id})}}">
												<i class="fs-16 zmdi zmdi-minus"></i>
                      </a> 
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="{{ element.quantite }}">

											<div class="btn-num-product-up cl8 flex-c-m">
                        <a href="{{path("cart_add", {id: element.produit.id})}}">
												  <i class="fs-16 zmdi zmdi-plus"></i>
                        </a>
											</div>
										</div>
									</td>
									<td class="column-5">
                    {{ element.quantite * element.produit.price }} Dh
                    
                    {# <a href="{{path("cart_delete", {id: element.produit.id})}}" class="btn btn-primary">
                        <i class="bi bi-cart-x"></i>
                    </a> #}
                  </td>
								</tr>
                
                {% endfor %}
							</tbody></table>
						</div>
						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                  <a href="{{path("app_front_office_products")}}">
                  Revien Page des Produits
								</div>
							</div>
{% for element in dataPanier %}
							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								<a href="{{path("app_checkout_new",{id: element.produit.id})}}">
                Aller Checkout
							</div>
              {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
</form>

 </div>
</div> 

	<!-- Footer -->




<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
					Made in Morroco
          </p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
						<img src="/assets/images/logo.png" alt="LOGO">
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="/assets/FrontOffice/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/assets/FrontOffice/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/assets/FrontOffice/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
                    <a> Copyright © 2022-2023 CoopeArt. Designed and Developed By <strong>Amine MAZZA<strong></a>
				</p>
			</div>
		</div>
</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	

{% block javascripts %}
         
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                    <!--===============================================================================================-->	
              <script src="/assets/FrontOffice/vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/bootstrap/js/popper.js"></script>
              <script src="/assets/FrontOffice/vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/select2/select2.min.js"></script>
              <script>
                $(".js-select2").each(function(){
                  $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                  });
                })
              </script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/daterangepicker/moment.min.js"></script>
              <script src="/assets/FrontOffice/vendor/daterangepicker/daterangepicker.js"></script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/slick/slick.min.js"></script>
              <script src="/assets/FrontOffice/js/slick-custom.js"></script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/parallax100/parallax100.js"></script>
              <script>
                    $('.parallax100').parallax100();
              </script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
              <script>
                $('.gallery-lb').each(function() { // the containers for all your galleries
                  $(this).magnificPopup({
                        delegate: 'a', // the selector for gallery item
                        type: 'image',
                        gallery: {
                          enabled:true
                        },
                        mainClass: 'mfp-fade'
                    });
                });
              </script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/isotope/isotope.pkgd.min.js"></script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/sweetalert/sweetalert.min.js"></script>
              <script>
                $('.js-addwish-b2').on('click', function(e){
                  e.preventDefault();
                });

                $('.js-addwish-b2').each(function(){
                  var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                  $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");

                    $(this).addClass('js-addedwish-b2');
                    $(this).off('click');
                  });
                });

                $('.js-addwish-detail').each(function(){
                  var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

                  $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");

                    $(this).addClass('js-addedwish-detail');
                    $(this).off('click');
                  });
                });

                /*---------------------------------------------*/

                $('.js-addcart-detail').each(function(){
                  var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                  $(this).on('click', function(){
                    swal(nameProduct, "is added to cart !", "success");
                  });
                });
              
              </script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
              <script>
                $('.js-pscroll').each(function(){
                  $(this).css('position','relative');
                  $(this).css('overflow','hidden');
                  var ps = new PerfectScrollbar(this, {
                    wheelSpeed: 1,
                    scrollingThreshold: 1000,
                    wheelPropagation: false,
                  });

                  $(window).on('resize', function(){
                    ps.update();
                  })
                });
              </script>
            <!--===============================================================================================-->
              <script src="/assets/FrontOffice/js/main.js"></script>
      {% endblock %}
</body>
</html>
