{# {% extends 'base.html.twig' %} #}

{# {% block title %}Log in!{% endblock %} #}
<title>Log In</title>
<link rel="icon" href="\assets\images\logoCO.png">
<style>
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #717fe0;
}
::-webkit-selection {
  background: #717fe0;
}
::-moz-selection {
  background: #717fe0;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  /* padding: 20px; */
}
.page {
  /* background: #fff; */
  background-image: linear-gradient(to right, #fff, #717fe0);
  /* background-image: url("/assets/images/logo.png"); */
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  place-content: center;
  width: 100%;
}
@media (max-width: 800px) {
  .page {
    /* height: auto; */
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: #717fe0;
  height: calc(100%);
  /* top: 20px; */
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color:#fff;
}
.eula {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #717fe0;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #fff;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
/* background: #fff; */
  color: #fff;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}
</style>

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required> #}
{# <div class="wrapper">
        <div class="logo">
            <img src="\assets\images\profil.JPG" alt="">
        </div>
        <div class="text-center mt-4 name">
            Log In
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="email" required autofocus>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3">Login</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="/register">Sign up</a>
        </div>
</div> #}
<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Login</div>
      <div class="eula"><strong>CoopeArt</strong> is the premier online marketplace for talented craftsmen
                        to sell their handmade products to a global audience.
      </div>
    </div>
    <div class="right">
      <svg viewBox="0 0 320 300">
        <defs>
          <linearGradient
                          inkscape:collect="always"
                          id="linearGradient"
                          x1="13"
                          y1="193.49992"
                          x2="307"
                          y2="193.49992"
                          gradientUnits="userSpaceOnUse">
            <stop
                  style="stop-color:#fff;"
                  offset="0"
                  id="stop876" />
            <stop
                  style="stop-color:#fff;"
                  offset="1"
                  id="stop878" />
          </linearGradient>
        </defs>
        <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
      </svg>
      <div class="form">
        <label for="email">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email"  required autofocus>
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="current-password" required>
       
        <input type="submit" id="submit" value="Submit">
         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

         <div class="text-center fs-6" style="margin-top:25px;margin-left:20px;">
            <a href="#" style="color:#fff">Don't have account ?</a> 
            <a href="/register" style="color:#fff">Join Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        {# <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div> #}
   

    {# <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button> #}
</form>
 
 {% block javascripts %}
 <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js'></script>		
 <script  src="assets/js/login.js"></script>	

			{% endblock %}
  
{% endblock %}
