{% extends 'base.html.twig' %}

{% block title %} Commandes {% endblock %}

{% block body %}

    <h2 class="heading"> Toutes les Commandes </h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>DateCommande</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.prix }}</td>
                <td>{{ commande.DateCommande ? commande.DateCommande|date('d-m-Y') : '' }}</td>
                <td>{{ commande.Etat }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>

        
{% endblock %}