<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}CoopeArt
			{% endblock %}
		</title>
		<link rel="icon" href="\assets\images\logoCO.png">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
		
			<!-- plugins:css -->
			<link rel="stylesheet" href="/assets/vendors/feather/feather.css">
			<link rel="stylesheet" href="/assets/vendors/ti-icons/css/themify-icons.css">
			<link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
			<!-- endinject -->
			<!-- Plugin css for this page -->
			<link rel="stylesheet" href="/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css"> <link rel="stylesheet" href="/assets/vendors/ti-icons/css/themify-icons.css">
			<link rel="stylesheet" type="text/css" href="/assets/js/select.dataTables.min.css">
			<!-- End plugin css for this page -->
			<!-- inject:css -->
			<link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
			{{ encore_entry_link_tags('app') }}

		{% endblock %}
	</head>
	<body>
		<div
			class="container-scroller">

			<!-- partial:partials/_navbar.html -->
			<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
					<a class="navbar-brand brand-logo" href="{{ path('app_front_office') }}"><img src="/assets/images/logo.png" alt="logo"/></a>
					{# <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo.png" alt="logo"/></a> #}
				</div>
				<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
					<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
						<span class="icon-menu"></span>
					</button>
					<ul class="navbar-nav mr-lg-2">
						<li class="nav-item nav-search d-none d-lg-block">
							<div class="input-group">
								<div class="input-group-prepend hover-cursor" id="navbar-search-icon">
									<span class="input-group-text" id="search">
										<i class="icon-search"></i>
									</span>
								</div>
								<input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
							</div>
						</li>
					</ul>
					<ul class="navbar-nav navbar-nav-right">
						<li class="nav-item dropdown">
							<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
								<i class="icon-bell mx-0"></i>
								<span class="count"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
								<p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>

								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-info">
											<i class="ti-user mx-0"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<h6 class="preview-subject font-weight-normal">New user registration</h6>
										<p class="font-weight-light small-text mb-0 text-muted">
											2 min ago
										</p>
									</div>
								</a>
							</div>
						</li>
						<li class="nav-item nav-profile dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
								<img src="/assets/images/profil.jpg" alt="profile"/>
							</a>
							<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
								<a class="dropdown-item">
									<i class="ti-user text-primary"></i>
									Profil
								</a>
								<a class="dropdown-item">
									<i class="ti-settings text-primary"></i>
									Settings
								</a>
								<a class="dropdown-item" href="{{path("app_logout")}}">
									<i class="ti-power-off text-primary"></i>
									Logout
								</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				<nav class="sidebar sidebar-offcanvas" id="sidebar">
					<ul class="nav">
			{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_dashboard') }}">
								<i class="icon-grid menu-icon"></i>
								<span class="menu-title">Dashboard</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
								<i class="icon-head menu-icon"></i>
								<span class="menu-title">Utilisateurs</span>
								<i class="menu-arrow"></i>
							</a>
							<div class="collapse" id="ui-basic">
								<ul class="nav flex-column sub-menu">
								<li class="nav-item">
										<a class="nav-link" href="#">Les Clients</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/artisan">Les Artisans</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/cooperatif">Les Coopératives</a>
									</li>
								</ul>
							</div>
						</li>		
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
								<i class="icon-columns menu-icon"></i>
								<span class="menu-title">Commandes</span>
								<i class="menu-arrow"></i>
							</a>
							<div class="collapse" id="form-elements">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_checkout_index') }}">Commandes</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
								<i class="icon-bar-graph menu-icon"></i>
								<span class="menu-title">Products</span>
								<i class="menu-arrow"></i>
							</a>
							<div class="collapse" id="charts">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_products_index') }}">Products</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
								<i class="icon-grid-2 menu-icon"></i>
								<span class="menu-title">Catégories</span>
								<i class="menu-arrow"></i>
							</a>
							<div class="collapse" id="tables">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_categorie_index') }}">Catégories</a>
									</li>
								</ul>
							</div>
						</li>
			{% elseif is_granted('ROLE_ARTISAN') %}
						<li class="nav-item">
										<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
											<i class="icon-bar-graph menu-icon"></i>
											<span class="menu-title">Products</span>
											<i class="menu-arrow"></i>
										</a>
										<div class="collapse" id="charts">
											<ul class="nav flex-column sub-menu">
												<li class="nav-item">
													<a class="nav-link" href="{{ path('app_products_index') }}">Products</a>
												</li>
											</ul>
										</div>
						</li>	
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
								<i class="icon-columns menu-icon"></i>
								<span class="menu-title">Commandes</span>
								<i class="menu-arrow"></i>
							</a>
							<div class="collapse" id="form-elements">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_checkout_index') }}">Commandes</a>
									</li>
								</ul>
							</div>
						</li>		
					</ul>
				
				{% elseif is_granted('ROLE_COOP') %}
						<li class="nav-item">
										<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
											<i class="icon-bar-graph menu-icon"></i>
											<span class="menu-title">Products</span>
											<i class="menu-arrow"></i>
										</a>
										<div class="collapse" id="charts">
											<ul class="nav flex-column sub-menu">
												<li class="nav-item">
													<a class="nav-link" href="{{ path('app_products_index') }}">Products</a>
												</li>
											</ul>
										</div>
						</li>	
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
								<i class="icon-columns menu-icon"></i>
								<span class="menu-title">Commandes</span>
								<i class="menu-arrow"></i>
							</a>
							<div class="collapse" id="form-elements">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_checkout_index') }}">Commandes</a>
									</li>
								</ul>
							</div>
						</li>		
					</ul>
				{% endif %}
				
				</nav>

				{#Body  #}
				<div class="content-wrapper">
					<div class="row">
						 {% block body %}{% endblock %}
					</div>
				</div>
				{# /Body  #}

				</div>
				<!-- page-body-wrapper ends -->

			</div>


			{% block javascripts %}
				<!-- plugins:js -->
				<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
				<!-- endinject -->
				<!-- Plugin js for this page -->
				<script src="/assets/vendors/chart.js/Chart.min.js"></script>
				<script src="/assets/vendors/datatables.net/jquery.dataTables.js"></script>
				<script src="/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
				<script src="/assets/js/dataTables.select.min.js"></script>

				<!-- End plugin js for this page -->
				<!-- inject:js -->
				<script src="/assets/js/off-canvas.js"></script>
				<script src="/assets/js/hoverable-collapse.js"></script>
				<script src="/assets/js/template.js"></script>
				<script src="/assets/js/settings.js"></script>
				<script src="/assets/js/todolist.js"></script>
				<!-- endinject -->
				<!-- Custom js for this page-->
				<script src="/assets/js/dashboard.js"></script>
				<script src="/assets/js/Chart.roundedBarCharts.js"></script>
				<!-- End custom js for this page-->


				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
				{{ encore_entry_script_tags('app') }}

			{% endblock %}


		</body>
	</html>
