{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Tout les Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
               <th>Image</th>
                <th>Nom</th>
                <th>Description</th> 
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td><img style="width: 85px;height: 85px ;border-radius: 10%;" src="{{ asset('uploads/' ~ categorie.image) }}"></td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.description }}</td>
     
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
